@charset "utf-8";

body {
  background: url(images/bg.png);
  font-family: "メイリオ, Meiryo";
  border-top: solid 5px #345c39;
}

div#wrapper {
  width: 960px;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 2px 7px rgba(83,78,61,0.3);
}

header {
  width: 960px;
  height: 49px;
  padding: 20px 0;
  position: relative;
}

header h1 {
  background: url(images/logo.png) no-repeat;
  height: 49px;
  color: #555;
  font-size: 12px;
  line-height: 1;
  padding-left: 51px;
  float: left;
}

header h1 span {
  color: #734339;
  font-size: 33px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

header nav {
  margin-top: 36px;
  float: right;
}

header nav ul li {
  margin-left: 29px;
  float: left;
}

header nav ul li a {
  height: 26px;
  color: #734339;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

header nav ul li:hover {
  background: url(images/navbar.png) no-repeat center bottom;
  height: 36px;
  display: inline-block;
}

header nav ul li:hover a {
  color: #345c39;
  border-bottom: solid 4px #345c39;
}

p#nav_tel {
  position: absolute;
    top: 0;
    right: 0;
}

div#mainimage {
  width: 950px;
  height: 290px;
  border: solid 5px #fff;
  margin: 20px 0 20px 0;
}

div#left {
  background-color: #fff;
  width: 555px;
  height: auto;
  padding: 10px;
  margin: 0 20px 20px 0;
  float: left;
}

div#left h2,
div#left h3 {
  color: #734339;
  font-size: 17px;
  font-weight: bold;
  border-left: solid 5px #ba3009;
  padding-left: 10px;
}

div#left ul {
  overflow: scroll;
    width: 555px;
    height: 145px;
}

div#left ul li {
  color: #927e7a;
  font-size: 13px;
  font-weight: normal;
  line-height: 32px;
  border-bottom: dotted 1px #d0d0d0;
}

div#left ul li span {
  color: #b5b3b3;
  font-size: 12px;
  font-weight: normal;
  margin-right: 15px;
}

div#right {
  width: 365px;
  height: 198px;
  float: left;
}

div#right ul li {
  line-height: 60px;
  margin-bottom: 20px;
}

div#right ul li a {
  color: #734339;
  width: 225px;
  height: 60px;
  font-size: 17px;
  font-weight: bold;
  padding-left: 140px;
  text-decoration: none;
  display: block;
}

div#right ul li a#contact {
  background: url(images/contact.jpg);
}

div#right ul li a#blog {
  background: url(images/blog.jpg);
}

div.clear {
  clear: both;
}

footer {
  background-color: #345c39;
  color: #fff;
  width: 100%;
  height: 58px;
  line-height: 58px;
  text-align: center;
}

footer p {
  font-size: 12px;
}

h2#heading {
  background: url(images/title.jpg);
  color: #2f5734;
  width: 925px;
  height: 70px;
  font-size: 27px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 23px;
  margin: 20px 0;
  border: solid 5px #fff;
}

div#left dl {
  margin-top: 11px;
}

div#left dl dt {
  color: #734339;
  font-size: 15px;
  font-weight: normal;
}

div#left dl dd {
  color: #927e7a;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 20px 10px;
}

div#left dl dd:last-child {
  margin-bottom: 0;
}

p#contact_text {
  background-color: #ffefea;
  color: #927e7a;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  margin: 10px 0;
}

td.form_title {
  color: #734339;
  width: 131px;
  height: 32px;
  font-size: 15px;
  vertical-align: top;
}

td.form_title label {
  font-weight: bold;
}

td.form_contents {
  color: #a6a6a6;
  font-size: 13px;
}

td.form_contents input#form_name,
td.form_contents input#form_tel {
  width: 421px;
  height: 22px;
}

td.form_contents input.form_time {
  width: 47px;
  height: 22px;
  margin-right: 4px;
  display: inline-block;
}

td.form_contents textarea {
  width: 421px;
  height: 83px;
  border: solid 1px #a6a6a6;
}

p#submit {
  text-align: right;
}

p#submit input {
  background-color: #325a37;
  width: 136px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

p#submit input:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ↓ リセットCSS ↓ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}
